/*-- Définitions de nouvelles polices --*/


body {
  font-family: 'Raleway', sans-serif;
}
/*-- La page --*/

.bloc-page {
  width: 900px;
  margin: auto;
  font-family: "raleway";
}

/*-- Le logo de la page --*/
.logo img {
  width: 100%;
}
.logo {
  width: 10%;
}

/*-- Bouton de recherche --*/

button{
  background-color: rgba(96, 96, 227, 0.827);
  color: white;
  width: 10%;
  height: 3%;
}

/*-- L'en-tête --*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*-- La navigation --*/


.barre{
  display: flex;
  height: 35px;
  
  
}


.barre input{
  height: 100%;
  border-color: ghostwhite;
}

.barre button{
  height: 100%;
}

.barre i{
  background-color: #f2f2f2ba;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barre button{
  color: white;
  background-color: rgb(0, 128, 255);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100px;
}

nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: blue;
  padding-top: 4%;
  border: 2px solid white;
  
}

nav a:hover{
  border-top: 2px solid blue;
  
}

/*-- Les filtres --*/

.Filtres{
  border: 1px solid black;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.filtre2{
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.Filtre_enfant{
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 15%;
}

.Filtre_enfant i{
  color: blue;
  background-color: rgb(213, 238, 241);
  border: 1px solid red;
  border-radius: 85%;
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.info{
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-end ;
  align-items: center;
  
}

.info i{
  padding: 0.5%;

}

.fas{
  color: black;
  background-color: white;
}

/*-- Première section (Hébergements) --*/

.hebergements_marseille {
  display: flex;
  flex-direction: column;
  border: 6px solid #f2f2f2;
  border-radius: 25px;
  background-color: #f2f2f2;
  width: 60%;
  padding-left: 1%;
}

.parents_hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*--border: 6px solid green;--*/
  height: 80%;
}

.hebergement {
  border: 2px solid white;
  background-color: white;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 45%;
}

.hebergement_image {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  height: 65%;
  background-size: cover;
  background-position: center;
}

/*-- Etoile --*/

.etoilee{
  display: flex;
  
}

.couleur{
  font-size: 12px;
  
}

.couleur i{
  color: blue;;
}

.sanscouleur{
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.sanscouleur i{
  color: grey;
}

.etoilee_populaire{
  
  font-size: 12px;
  display:flex;
  padding-bottom: 10px;
  margin-left: 15px;
  
}

.couleurpopulaire i{
  color: blue;
}

.sanscouleurpopulaire i{
  color: grey;
}



#Cannebiere {
  background-image: url("marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
#Fred {
  background-image: url("fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
#Reisetopia {
  background-image: url("reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
#Annie {
  background-image: url("annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
#Nicate {
  background-image: url("nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
#Febrian {
  background-image: url("febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.hebergement_texte {
  width: 100%;
  height: 35%;
}

.hebergement_texte p {
  margin: 0;
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
}

.hebergement_texte h3 {
  margin: 0;
}

/*-- Deuxième section (Les plus populaires) --*/

.bloc {
  display: flex;
  justify-content: space-around;
}
.lespluspopulaires {
  border: 7px solid #f2f2f2;
  border-radius: 25px;
  background-color: #f2f2f2;
  width: 30%;
  justify-content: space-between;
  
}
.icons{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
}

.fa-chart-line{
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  background-color: whitesmoke;

}


.lesplus_populaires {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel {
  display: flex;
  justify-content: center;
  border: 3px solid white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 90%;
  height: 30%;
  margin: 4%;
}

.hotel_images {
  border: 3px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 30%;
}

.hotel_texte {
  background-color: white;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hotel_texte p {
  margin: 0;
  padding: 5%;
}
.hotel_texte h3 {
  margin: 0;
  padding: 5%;
}

#hotel_le_soleil {
  background-image: url("emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#au_coeur {
  background-image: url("aw-creative-VGs8z60yT2c-unsplash 2.jpg");
  background-position: center;
  background-size: cover;
}

#tout_bleu {
  background-image: url("febrian-zakaria-sjvU0THccQA-unsplash 2.jpg");
  background-position: center;
  background-size: cover;
}

/*-- Deuxième Article activités --*/

.activites_a_Marseille {
  
  width: 100%;
  height: 70%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: small;
}

.parent {
  
  width: 100%;
  height: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.Activites_1 {
  
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.Activites_2 {
  
  width: 45%;
  height: 100%;
  display: flex;
}

.bloc_1 {
  
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc_2 {
 
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Activites_image_1 {
  width: 85%;
  height: 90%;
}

.Activites_image_2 {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border_image_1 {
  border: 1px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 85%;
}

#vieux_port {
  background-image: url("reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.border_texte_1 {
  border: 2px solid whitesmoke;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  height: 14%;
}

.border_image_2 {
  border: 1px solid whitesmoke;
  border-radius: 25px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 75%;
}

#fort {
  background-image: url("paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.border_image_texte_2 {
  width: 100%;
  height: 25%;
}

.border_image_3 {
  border: 1px solid whitesmoke;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: 39%;
  display: flex;
  flex-direction: column;
}

.bordureimage3 {
  border: 1px solid whitesmoke;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 75%;
}

#bordureimage33 {
  background-image: url("kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: top;
}

.border_image_texte_3 {
  width: 100%;
  height: 28%;
}

.bloc_3 {
  
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc_4 {
  
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Activites_image_3 {
  border: 1px solid whitesmoke;
  border-radius: 25px;
  width: 85%;
  height: 90%;
}

.bordureimage32 {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  height: 85%;
}

.Activites_texte_3 {
  border: 1px solid whitesmoke;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 15%;
}


#loup {
  background-image: url(kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.Activites_image_4 {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image4 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.image5 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.image4_texte4 {
  border: 1px solid whitesmoke;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 25%;
}

.image5_texte5 {
  border: 1px solid whitesmoke;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: 28%;
}

.image44 {
  border: 1px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 80%;
}

.image55 {
  border: 1px solid whitesmoke;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 80%;
}

#parc {
  background-image: url("florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#dame {
  background-image: url("lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

/*-- Le pied de page --*/

footer {
  
  width: 100%;
  background-color: #f2f2f2;
  text-align: justify;
  display: flex;
  justify-content: space-around;

  align-items: center;
}

footer ul {
  list-style-type: none;
}

footer h4 {
  display: flex;
  flex-direction: left;
}

@media all and (max-width: 480px) {
  #bloc-page {
    width: auto;
  }

  nav {
    border: 1px solid black;
    color: red;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer a {
    color: black;
    text-decoration: none;
    font-weight: lighter;
  }

  .lespluspopulaires {
    background-color: coral;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin: 5%
  }

  .lesplus_populaires{
  }

  .bloc {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .bloc_1 {
    flex-direction: column;
    width: 100%;
    height: 100px;
  }

  .bloc-page {
    display: flex;
    flex-direction: column;
  }
  .parent {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .hebergements_marseille {
    width: 100%;
    height: auto;
  }

  .parents_hebergements {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .hebergement {
    width: 80%;
    height: 200px;
  }

  .hotel_images {
    height: 100%;
  }

  .Activites_1 {
    flex-direction: column;
    width: 100%;
  }
  .border_texte_1 {
    width: 100%;
  }

  .bloc_2 {
    flex-direction: column;
    width: 100%;
  }

  .Activites_image_2 {
    width: 100%;
  }

  .Activites_2 {
    flex-direction: column;
    width: 100%;
  }

  .bloc_3 {
    width: 100%;
  }

  .bloc_4 {
    width: 100%;
  }

  .activites_a_Marseille {
    height: 100%;
  }
}

@media all and (min-width: 700px) and (max-width: 1024px) {

    .bloc-page{
      width: auto;
    }
    .bloc {
      
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      
    }

    .hebergements_marseille{
        margin-top: 5%;
        width: 90%;
    }

    .lespluspopulaires {
      flex-direction: column;
      align-items: center;
      width: 90%;
    }

    .hotel_images {
      
    }

    .hotel_texte{
        height: 100%;
    }

    .parents_hebergements{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        
      }
    
    .hebergement{
        margin-bottom: 3%;
        width: 90%;
        
    }

    .hebergement_image{
        height: 150px;
        
    }

  
      

    footer{
        
        flex-direction: column;
        align-items: center;
        width: 100%;
        
      
        
    }

    footer a{
        display: flex;
        justify-content: center;
    }

    footer h4{
        display: flex;
        justify-content: center;
    }


    .Activites_a_Marseille{
      width: 100%;
      height: auto;
      
      
    }

    .parent{
      display: flex;
        flex-direction: column;
          width: 90%;
          height: auto;
            
          
    }

    .Activites_1{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      
    }

    .Activites_2{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
    }

    

    .bloc_1{
      width: 100%;
      height: auto;
    }
    

    .bloc_2{
      width: 100%;
      height: auto;
      
    }

    .bloc_3{
      width: 100%;
      height: auto;
      
    }

    .bloc_4{
      width: 100%;
      height: auto;
    }

    .Activites_image_1{
      height: auto;
    }

    .Activites_image_2{
      height: auto;
    }

    .Activites_image_3{
      height: auto;
    }

    .Activites_image_4{
      height: auto;
    }

    .border_image_2{
      height: auto;
    }

    .border_image_3{
      height: auto;
    }

    .image4{
      height: auto;
    }

    .image5{
      height: auto;
    }

    .border_image_1{
      height: 200px;
    }

    .bordureimage3{
      height: 200px;
    }

    .bordureimage32{
      height: 200px;
    }

    .image{
      height: 200px;
    }

    .image44{
      height: 200px;
    }

    .image55{
      height: 200px;
    }

}


petit bouton rechercher + logo barre rechercher
petit logo  filtre
petit logo 500 logement (FAIT)
petit logo a droite .lesplpopulaires (FAIT)
les etoiles bleu et grise en dessous chaque hotel (a faire)
les prix sont en gras (FAIT)
s'inscrire en bleu en gras (FAIT)
hover + border top navigation  (FAIT)


-ameliorer la barre de recherche (FAIT)
-ameliorer filtre + logo + border logo etc
-rajouter les etoiles (FAIT)
- changer police texte parc (FAIT)
-finir responsive tablette
